:root {
    --saturation-base: 30%;
    --lightness-base: 80%;

    /* color tokens */
    --color-base: hsl(150, var(--saturation-base), var(--lightness-base));
    --color-success: hsl(280, var(--saturation-base), var(--lightness-base));
    --color-warning: hsl(20, var(--saturation-base), var(--lightness-base));
    --color-danger: hsl(80, var(--saturation-base), var(--lightness-base));

    /* font tokens */
    --font-family-base: Arial, sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.5;
    --font-weight-base: normal;

    /* spacing tokens */
    --spacing-base: 1rem;
    --spacing-large: 2rem;
    --spacing-small: 0.8rem;
}
