.product-card {
    background: #fff;
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-base);
    border-radius: 4px;
    width: 40%;

    .card-title {
        font-size: 120%;
        font-weight: bold;
    }

    .card-text {
        opacity: 0.8;
        font-size: 80%;
        margin-bottom: var(--spacing-small);
    }

    .card-figure>img {
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
}
